<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title> Users Ujian Praktikum AdventNopeleSihite_1174089</title>
</head>
	<body>
		<h1>Here are your users: _AdventNopeleSihite_1174089</h1>

		{% for advent in allvideos %}
		<p> {{  advent.id }}. Users Info </p>
			<ul>
				<li>Fisrt Name : {{ advent.first_name }}</li>
				<li>Last Name : {{ advent.last_name }}</li>
				<li>Email : {{ advent.email }}</li>
			</ul>
		{% endfor %}
	</body>

</html>